<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword value:</strong>
  <%= @keyword.keyword_value %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
